pydata-sphinx-theme>=0.6.3
myst-nb
pymc>=5.20.1
bambi>=0.15.0
arviz_plots @ git+https://github.com/arviz-devs/arviz-plots@main
sphinx>=4
sphinx-copybutton
sphinx_tabs
sphinx-design
numpydoc
jupyter-sphinx
arviz>=0.20.0
numpyro>=0.17.0
